<div class="flex flex-col items-center px-4 pt-4 mb-6 shadow-inner bg-midnight rounded-2xl">
  <% if user.balance < @cadena.installment_value %>
    <p class="mb-2 font-semibold text-red-500 font-manrope">Saldo insuficiente para prox. pago</p>
  <% else %>
    <p class="mb-2 font-semibold text-lavender font-manrope">Saldo Cadenapp</p>
  <% end %>
  <%= link_to user_deposit_path(user), class:'flex justify-center items-center space-x-2 text-white mb-6' do %>
    <%= inline_svg_tag('svg/plus_circle.svg', class:'w-6  hover:text-lavender h-fit') %>
    <span class="text-4xl font-bold tabular-nums font-manrope <%= user.balance < @cadena.installment_value ? 'text-red-500' : '' %>"
      data-controller="balance"
      data-balance-target="element"
      data-balance-start-value="0"
      data-balance-end-value="<%= user.balance %>"
      data-balance-duration-value="800">
    </span>
    <span class="w-6"></span>
  <% end %>
  <%= render 'cadenas/cadena_payment_section', cadena: @cadena %>
</div>
