<div class="flex items-end justify-between mt-2">
  <h1 class="mt-6 mb-2 text-lg font-semibold"><%= current_user == @user ? 'Mis cadenas' : 'Cadenas' %></h1>
  <% if @user.cadenas.any? %>
    <%= link_to t('cadena.create_new'), new_cadena_path, class:'btn-primary w-fit text-xs font-semibold px-3 mb-4 rounded-lg py-2' %>
  <% end %>
</div>
<div class="flex flex-col space-y-4">
  <% if @user.cadenas.any? %>
    <% @user.cadenas.each do |cadena| %>
      <%= link_to cadena do %>
        <div class="flex items-center justify-between p-4 font-sans text-sm font-medium rounded-xl bg-midnight hover:bg-black_rock">
          <div class="flex items-center">
            <div class="flex mr-2">
              <%= image_tag 'default_avatar.png', class:'w-8 rounded-full border-2 border-midnight', alt:"User avatar" %>
              <%= image_tag 'default_avatar.png', class:'w-8 rounded-full -ml-4 border-2 border-midnight', alt:"User avatar" %>
              <%= image_tag @user&.avatar&.attached? ? @user.avatar : 'default_avatar.png', class: 'w-8 rounded-full -ml-4 border-2 border-midnight', alt:"User avatar" %>
            </div>
            <span class="mr-3"><%= cadena.name %></span>
            <% if current_user.admin_of?(cadena) || @user.admin_of?(cadena) %>
              <span class="px-2 py-1 text-xs uppercase border rounded-lg border-jaguar_light text-jaguar_light">ADMIN</span>
            <% end %>
          </div>
          <span class="font-normal <%= status_color(cadena) %>">
            <%= t("cadena.status.#{cadena.status}") %>
          </span>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="flex flex-col items-center p-6 border border-gray-700 border-dashed rounded-xl">
      <p class="mb-4 text-sm font-medium text-gray-600"><%= t('cadena.belongs_to_none') %></p>
      <%= link_to t('cadena.create'), new_cadena_path, class:'btn-primary w-fit text-xs font-semibold px-3 rounded-md py-2 mb-1' %>
    </div>
  <% end %>
</div>
