<div class="flex justify-center">
  <div class="text-white w-80 font-manrope">
    <div class="flex justify-between mb-4">
      <div>
        <h1 class="text-2xl font-semibold"><%= @user.name %></h1>
        <span class="text-sm font-semibold text-primary_blue">@<%= @user.first_name.downcase %><%= @user.id %></span>
      </div>
      <%= image_tag @user.avatar, class:"w-14 rounded-full" %>
    </div>
    <div>
      <h2 class="mb-2 text-lg font-semibold">Informaciones personales</h2>
      <div class="p-6 mb-4 font-sans rounded-xl bg-steel_gray">
        <div class="flex justify-between mb-4 text-sm">
          <span class="text-silver"><%= t('user.phone') %></span>
          <span class="text-right text-primary_blue"><%= @user.phone %></span>
        </div>
        <div class="flex justify-between mb-4 text-sm">
          <span class="text-silver"><%= t('user.email') %></span>
          <span class="text-right text-primary_blue"><%= @user.email %></span>
        </div>
        <div class="flex justify-between mb-4 text-sm">
          <span class="text-silver"><%= t('user.identification_type') %></span>
          <span class="text-right text-primary_blue"><%= @user.identification_type == 'Passport' ? 'Pasaporte' : @user_identification_type %></span>
        </div>
        <div class="flex justify-between mb-4 text-sm">
          <span class="text-silver"><%= t('user.id_number') %></span>
          <span class="text-right text-primary_blue"><%= @user.identification_number %></span>
        </div>
        <div class="flex justify-between mb-4 text-sm">
          <span class="text-silver"><%= t('user.address') %></span>
          <span class="text-right text-primary_blue"><%= @user.address %></span>
        </div>
        <div class="flex justify-between mb-4 text-sm">
          <span class="text-silver"><%= t('user.city') %></span>
          <span class="text-right text-primary_blue"><%= @user.city %></span>
        </div>
        <div class="flex justify-between mb-4 text-sm">
          <span class="text-silver"><%= t('user.zip') %></span>
          <span class="text-right text-primary_blue"><%= @user.zip %></span>
        </div>
        <div class="flex justify-between text-sm">
          <span class="text-silver"><%= t('user.dob') %></span>
          <span class="text-right text-primary_blue"><%= @user.dob.strftime('%d/%m/%Y') %></span>
        </div>
      </div>
    </div>
    <%= link_to update_profile_path(current_user) do  %>
      <div class="w-full mb-4 text-center btn-primary">Editar perfil</div>
    <% end %>
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" } do %>
      <button type="button" class="flex items-center justify-center w-full p-4 font-medium text-gray-400 border border-gray-600 rounded-xl focus:outline-none focus:z-10 focus:ring-4 focus:ring-gray-700 hover:text-white hover:bg-gray-700">
        <span class="mr-2">Desconectarse</span>
        <%= inline_svg_tag 'svg/exit.svg', class:'w-5' %>
      </button>
    <% end %>
  </div>
</div>
