<%= render layout: 'shared/email_layout' do %>
  <p class="intro">Hola <%= @cadena.admin.name %>,</p>
  <p>Te informamos que <%= @participant.name %> ha aceptado tu invitación para hacer parte de la cadena que administras, <b><%= link_to @cadena.name, @cadena %></b>.</p>
  <p>¡Felicidades!</p>
  <p>Recuerda que si por cualquier motivo te equivocaste o cambiaste de opinión, puedes retirar a un participante antes del inicio de la cadena.</p>
  <p>Puedes gestionar participantes haciendo click <b><%= link_to "aqui", @cadena %></b>.</p>
<% end %>
