<%= render layout: 'shared/email_layout' do %>
  <p class="intro">Hola <%= @participant.name %>,</p>
  <p>¡Te confirmamos que la lista de participantes de la cadena <b><%= link_to @cadena.name, @cadena  %></b> está completa!</p>
  <p>Se va a generar el orden de manera aleatoria muy pronto.</p>
  <p>Recuerda que es muy importante que verifiques quienes son los otros miembros de la cadena. <br>
    Conocer a cada miembro y tenerle confianza es clave para que la cadena sea un éxito.</p>
  <p>Actualmente, los miembros de la cadena son <b>(en desorden)</b>:</p>
  <ul>
    <% @cadena.participants.each do |participant| %>
      <li><%= participant.name %></li>
    <% end %>
  </ul>
  <p>Si por cualquier motivo, ya no quieres hacer parte de la cadena puedes retirarte antes del <b><%= (Time.zone.now + 24.hours).strftime('%d/%m/%Y') %></b> haciendo click <b><%= link_to "aqui", @cadena %></b>.</p>
<% end %>
