<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello, <%= @participant.name %>!</p>
    <p>Te confirmamos que la lista de participantes de la cadena <%= @cadena.name %> está completa! Se va a generar el orden de manera aleatoria muy pronto.</p>
    <p>Recuerda que es muy importante que verifiques quienes son los otros miembros de la cadena. Conocer a cada miembro y tenerle confianza es clave para que la cadena sea un éxito.</p>
    <p>Actualmente, los miembros de la cadena son <b>(en desorden)</b>:</p>
    <% @cadena.participants.each do |participant| %>
      <li>- <%= participant.name %></li>
    <% end %>
    <br>
    <p>Si por cualquier motivo, ya no quieres hacer parte de la cadena tienes hasta el <%= (Time.zone.now + 24.hours).strftime('%d/%m/%Y at %l:%M %p') %> para retirarte haciendo click <%= link_to "aqui", @cadena %>.</p>
    <p>Saludos, Cadenapp</p>
  </body>
</html>
