<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @participant.name %>!</h1>
    <p>The list of participants for <%= @cadena.name %> is now complete! <%= @cadena.admin.name %> (the admin of the cadena your in) will generate the order very soon.</p>
    <p>The list is the following (not in order!):</p>
    <% @cadena.participants.each do |participant| %>
      <li><%= participant.name %></li>
    <% end %>
    <br>
    <p>If you no longer wish to participate in the cadena, you have until <%= (Time.zone.now + 24.hours).strftime('%d/%m/%Y at %l:%M %p') %> to abandon by clicking <%= link_to "here", @cadena %></p>
  </body>
</html>
