<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello, <%= @sender_user.name %>!</p>
    <p>Thank you for paying <%= @receiver_participant.name %> <%= number_to_currency(@receiver_participant.cadena.installment_value, precision: 2) %> in the cadena <%= @receiver_participant.cadena.name %></p>
    <p>You can start paying the next round after the <%= @receiver_participant.cadena.next_payment_date.strftime('%d/%m/%Y') %></p>
  </body>
</html>
