<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <%= stylesheet_link_tag 'mailers' %>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <p>Hola <%= @participant.name %>,</p>
    <br>
    <p>Te informamos que todos los participantes de la cadena <b><%= link_to @participant.cadena.name, @participant.cadena %></b> han pagado la cuota de este periodo.</p>
    <p>¡Que chévere! Eso es un grupo de confianza juicioso.</p>
    <p>Te recordamos que el próximo día de recaudo es el <b><%= @participant.cadena.next_payment_date.strftime('%d/%m/%Y') %></b>.</p>
    <p>Puedes hacer el próximo pago haciendo click <b><%= link_to "aqui", @participant.cadena %></b>.</p>
    <p>Gracias nuevamente por tu participación.</p>
    <br>
    <p>Saludos, equipo Cadenapp</p>
    <br>
    <br>
    <%= link_to root_url do  %>
      <%= image_tag 'logo_mail.png', alt: "Cadenapp", class:'logo_mail' %>
    <% end %>
  </body>
</html>
