<%= render layout: 'shared/email_layout' do %>
  <p class="intro">Hola <%= @invitation.first_name %> <%= @invitation.last_name %>,</p>
  <p>Has sido invitado por <b><%= @invitation.sender.first_name + ' ' + @invitation.sender.last_name %></b> para hacer parte de la cadena de ahorro <b><%= @invitation.cadena.name %></b>.</p>
  <p>Puedes hacer click en el siguiente enlace para ver la invitaci贸n:</p>
  <%= link_to 'Ingresar Cadena', cadena_preview_url(@invitation.token), class:'btn-primary' %>
  <p>Si ya tienes cuenta Cadenapp, conectate primero, haciendo click <b><%= link_to "aqui", new_user_session_url %></b>, y vuelve a abrir el link de la invitacion despu茅s </p>
  <p>Los links de invitaciones tienen validez de <u>1h</u>, por seguridad. Despu茅s de este plazo <b>tendras que volver a mandar otra invitaci贸n.</b></p>
  <p>Si no esperabas esta invitaci贸n, simplemente puedes ignorar este correo electr贸nico.</p>
<% end %>
