<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hola, <%= @sender_user.name %>!</p>
    <p>Te confirmamos que hiciste un pago para <%= @receiver_participant.name %> de <%= number_to_currency(@receiver_participant.cadena.installment_value, precision: 2) %> en el marco de la cadena <%= @receiver_participant.cadena.name %>.</p>
    <p>La proxima fecha de pagos es el <%= @receiver_participant.cadena.next_payment_date.strftime('%d/%m/%Y') %>.</p>
    <p>Saludos, Cadenapp</p>
  </body>
</html>
