<ul role="list" class="hidden" data-cadena-participants-target="global">
  <% if cadena.global_progression.positive? %>
    <div class="w-full h-4 rounded-full bg-steel">
      <div class="flex items-center justify-center h-4 text-white transition-all duration-1000 ease-out bg-blue-600 rounded-full" style="font-size:10px;width:0%" data-cadena-participants-target="globalProgress" data-global-progress="<%= cadena.global_progression %>"><%= cadena.global_progression.to_i %>%</div>
    </div>
  <% else %>
    <div class="w-full h-4 mb-4 rounded-full bg-steel">
      <span class="flex items-center h-4 pl-2 text-white" style="font-size:10px">O%</span>
    </div>
  <% end %>
  <% cadena.participants.order(position: :asc).each do |participant| %>
    <li class="h-16	px-5 flex items-center my-3 bg-midnight rounded-2xl first:mt-0 <%= cadena.next_paid_participant == participant ? 'border border-blue-600' : '' %>">
      <div class="flex items-center justify-between w-full space-x-4">
        <span class="text-silver"><%= participant.position %></span>
        <div class="flex-shrink-0">
          <%= link_to_cond(current_user&.is_admin?, participant.user) do %>
            <% if participant.avatar.attached? %>
              <%= image_tag participant.avatar, class: "w-8 h-8 rounded-full #{current_user&.is_admin ? 'hover:opacity-30' : ''}", alt:'Participant avatar' %>
            <% else %>
              <%= image_tag 'default_avatar.png', class: "w-8 h-8 rounded-full #{current_user&.is_admin ? 'hover:opacity-30' : ''}", alt:'Participant avatar' %>
            <% end %>
          <% end %>
        </div>
        <div class="flex-1 min-w-0">
          <div class="text-sm font-medium text-white truncate">
            <%= participant.name %>
          </div>
          <div class="text-xs text-placeholder_gray font-manrope <%= participant.paid_by_everyone ? 'line-through' : '' %>">
            <%= participant.withdrawal_date.strftime('%d/%m/%Y') %>
          </div>
        </div>
        <% if participant.user == cadena.admin.user && participant.user == current_user %>
          <p class="px-2 py-1 text-xs text-gray-400 uppercase border border-gray-400 rounded-lg">Yo/Admin</p>
        <% elsif participant.user == cadena.admin.user %>
          <p class="px-2 py-1 text-xs text-gray-400 uppercase border border-gray-400 rounded-lg">Admin</p>
        <% elsif participant.user == current_user %>
          <p class="px-2 py-1 text-xs text-gray-400 uppercase border border-gray-400 rounded-lg">Yo</p>
        <% end %>
        <% if participant.paid_by_everyone %>
          <%= inline_svg_tag('svg/check.svg', class: 'w-5 text-white rounded-full bg-blue-600 p-1') %>
        <% else %>
          <span class="w-5 h-5 border rounded-full border-midnight_light bg-midnight_light/10"></span>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
