<div class="flex flex-col items-center justify-center w-full pt-8 pb-16 md:space-x-16 md:flex-row bg-gradient-to-t from-black/50 via-gray-900/25 to-mirage">
  <div class="flex-col items-center">
    <h2 class="mt-0 mb-12 text-6xl font-black tracking-tight text-center text-white md:my-12 animate__animated animate__fadeIn font-nimbus-ext">Ahorros <span class="text-transparent bg-clip-text bg-gradient-to-br from-lavender to-lavender/30">colaborativos</span><br>
      rápidos y seguros.</h2>
    <p class="mb-12 text-xl font-bold text-center text-gray-100 animate__animated animate__fadeInUp animate__fast font-manrope">Monta tu cadena entre amigos y familiares. <br>
      Administra tus ahorros facilmente sin pasar por un banco.</p>
    <div class="px-4 py-2 mx-auto mb-12 font-medium text-center text-white rounded-lg md:mb-0 w-fit bg-gradient-to-br from-blue-500 to-blue-600/60 hover:cursor-pointer hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-lavender">
      Abrir cuenta
    </div>
  </div>
  <%= image_tag "mockup.png", class:'invisible w-64', onload:"this.classList.remove('invisible')" %>
</div>
<%= render 'shared/benefits' %>
<%= render 'shared/newsletter' %>
<%= render 'shared/howitworks' %>
<%= render 'shared/showreel' %>
