<div class="flex flex-col items-center justify-center w-full pt-8 pb-16 md:space-x-16 md:flex-row bg-gradient-to-t from-black/50 via-gray-900/25 to-mirage">
  <div class="flex-col items-center">
    <h2 class="mt-0 mb-10 text-4xl font-black tracking-tight text-center text-white md:mb-12 md:text-6xl md:my-12 animate__animated animate__fadeIn font-nimbus-ext">Ahorros <span class="text-transparent bg-clip-text bg-gradient-to-br from-lavender to-lavender/30">colaborativos</span><br>
      rápidos y seguros.</h2>
    <p class="px-4 mb-12 text-lg font-bold text-center text-gray-100 md:text-xl animate__animated animate__fadeInUp animate__fast font-manrope">Lanza tu cadena entre amigos y familiares. <br>
      Administra tus ahorros facilmente sin pasar por un banco.</p>
    <div class="flex mx-auto space-x-4 w-fit">
      <div class="px-4 py-2 mx-auto mb-12 font-medium text-center text-white rounded-lg md:mb-0 w-fit bg-gradient-to-br from-blue-500 to-blue-600/60 hover:cursor-pointer hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-lavender">
        <%= link_to t('devise.registrations.new.open_account'), new_registration_path(User.new), data: {turbo: false} %>
      </div>
      <div class="px-4 py-2 mx-auto mb-12 font-medium text-center text-white rounded-lg md:mb-0 w-fit bg-gradient-to-br to-purple-500/20 from-lavender_dark/50 hover:cursor-pointer hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-lavender">
        <%= link_to t('devise.sessions.new.connect'), new_session_path(User.new) %>
      </div>
    </div>
  </div>
  <%= image_tag "mockup.png", class:'invisible w-64 h-full', onload:"this.classList.remove('invisible')", alt:"Application mockup" %>
</div>
<%= render 'shared/benefits' %>
<%= render 'shared/howitworks' %>
<%= render 'shared/newsletter' %>
<%= render 'shared/showreel' %>
