<div class="flex items-center justify-center w-full pt-8 pb-16 space-x-16 bg-gradient-to-t from-black/50 via-gray-900/25 to-mirage">
  <div class="flex-col items-center">
    <h2 class="my-12 text-6xl font-black text-center text-white animate__animated animate__fadeIn font-nimbus-ext">Ahorros <span class="text-transparent bg-clip-text bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-lavender to-lavender/30">colaborativos</span><br>
      rápidos y seguros.</h2>
    <p class="mb-4 text-xl font-bold text-center text-gray-100 animate__animated animate__fadeInUp animate__fast font-manrope">Monta tu cadena entre amigos y familiares. <br>
      Administra tus ahorros facilmente sin pasar por un banco.</p>
  </div>
  <%= image_tag 'mockup.png', class:'w-64', alt: "text" %>
</div>
<%= render 'shared/benefits' %>
<%= render 'shared/newsletter' %>
<%= render 'shared/howitworks' %>
<%= render 'shared/showreel' %>
