<%= form_with(model: [@cadena, @invitation], class: "contents") do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 my-3 text-sm font-medium text-red-500 rounded-lg bg-red-50">
      <h2>Errores impiden que se guarde esta invitacion :</h2>
      <ul class="list-disc list-inside">
        <% invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-4">
    <%#= form.label :phone, t('user.phone'), class:'text-sm text-silver' %>
    <%#= form.text_field :phone, class: "w-full input", placeholder: t('user.phone') %>
  </div>
  <div class="mb-4">
    <%#= form.label :email, t('user.email'), class:'text-sm text-silver' %>
    <%= form.text_field :email, class: "w-full input", placeholder: t('user.email') %>
  </div>
  <div class="mb-4">
    <%#= form.label :first_name, t('user.first_name'), class:'text-sm text-silver' %>
    <%= form.text_field :first_name, class: "w-full input", placeholder: t('user.first_name') %>
  </div>
  <div class="mb-4">
    <%#= form.label :last_name, t('user.last_name'), class:'text-sm text-silver' %>
    <%= form.text_field :last_name, class: "w-full input", placeholder: t('user.last_name') %>
  </div>
  <%= form.submit "Enviar", class: "btn-primary text-white mb-4" %>
  <div class="flex justify-center space-x-1 text-silver">
    <%= inline_svg_tag('svg/info.svg', class:'w-4') %>
    <p class="text-xs font-manrope">Avisale a tus invitados que la invitación puede llegar en sus spams</p>
  </div>
<% end %>
