<div class="w-full max-w-md px-6 pb-6 mx-auto">
  <div class="flex items-center justify-between">
    <%= link_to cadena_invitations_path(@cadena) do %>
      <%= inline_svg_tag('svg/arrow_left.svg', class:'text-white w-6') %>
    <% end %>
    <h1 class="text-lg font-bold text-white text font-manrope"><%= t('invitation.new') %></h1>
    <span class="w-5"></span>
  </div>
  <div class="px-1 mx-auto mb-6 text-sm font-semibold tracking-wide text-gray-600 uppercase text w-fit font-nimbus-ext"><%= @cadena.name %></div>
  <%= render "form", invitation: @invitation %>
</div>
