<ul role="list">
  <% cadena.users.each do |user| %>
    <li class="flex items-center h-16 px-5 my-4 bg-midnight rounded-2xl first:mt-0"">
      <div class="flex items-center w-full space-x-4">
        <div class="flex-shrink-0">
          <% if current_user&.is_admin %>
            <%= link_to user do %>
              <%= image_tag user.avatar, alt: "#{user.name} avatar", class:"w-8 h-8 rounded-full hover:opacity-30" %>
            <% end %>
          <% else %>
            <%= image_tag user.avatar, alt: "#{user.name} avatar", class:"w-8 h-8 rounded-full" %>
          <% end %>
        </div>
        <div class="flex-1 min-w-0">
          <p class="text-sm font-medium text-white truncate">
            <%= user.name %>
          </p>
          <p class="text-xs text-gray-400 truncate font-manrope">
            <% if controller_name == 'cadenas' %>
              <%= user.email %>
            <% else %>
              <%= user.email[0..4] %><span class="blur">###@####</span><%= user.email[-5..-1] %>
            <% end %>
          </p>
        </div>
        <% if user == cadena.admin %>
          <p class="px-2 py-1 text-xs text-gray-400 uppercase border border-gray-400 rounded-lg">Admin</p>
        <% elsif user == current_user %>
          <p class="px-2 py-1 text-xs text-gray-400 uppercase border border-gray-400 rounded-lg">Yo</p>
        <% end %>
        <% if current_user&.admin_of?(cadena) && user != cadena.admin || current_user&.is_admin && user != cadena.admin %>
          <button id="dropdownUser<%= user.id %>" data-dropdown-toggle="dropdownDotsUser<%= user.id %>" type="button" class="inline-flex items-center text-base font-semibold rounded-full bg-jaguar_light font-manrope text-silver hover:bg-gray-700 focus:ring-gray-500 focus:ring-2 focus:outline-none">
            <%= inline_svg_tag "svg/dot_dropdown.svg", class: "w-5" %>
          </button>
          <div id="dropdownDotsUser<%= user.id %>" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-fit dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
              <li>
                <%= button_to "Eliminar", remove_user_cadena_path(cadena, user, format: :html), method: :delete, class:'block px-4 py-2 hover:bg-gray-100 mr-0 text-left w-full dark:hover:bg-gray-600 dark:hover:text-white' %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
