<div id="<%= dom_id cadena %>" class="flex flex-col max-w-lg mx-auto">
  <%= render 'cadenas/cadena_dashboard', cadena: cadena %>
  <% if cadena.started? && current_user.member_of?(cadena) %>
    <%= render 'cadena_payment_section', cadena: cadena %>
  <% end %>
  <% if cadena.started? %>
    <%= render 'users/balance', user: current_user %>
  <% end %>
  <div class="p-6 rounded-xl bg-black_rock">
    <div class="flow-root">
      <% if !current_user || cadena.pending? || cadena.complete? || cadena.approval_requested? %>
        <%= render 'cadenas/cadena_users', cadena: cadena %>
      <% elsif cadena.started? %>
        <%= render 'cadena_participants', cadena: cadena %>
      <% end %>
    </div>
  </div>
</div>
