<ul role="list" data-controller="cadena-participants">
  <% cadena.users.each do |user| %>
    <li class="flex items-center h-16 px-5 my-4 bg-midnight rounded-2xl first:mt-0"">
      <div class="flex items-center w-full space-x-4">
        <div class="flex-shrink-0">
          <%= link_to_cond(current_user&.is_admin?, user) do %>
            <% if user.avatar.attached? %>
              <%= image_tag 'default_avatar.png', data:{src: url_for(user.avatar)}, class: "lazy w-8 h-8 rounded-full #{current_user&.is_admin ? 'hover:opacity-30' : ''}", alt:'User avatar' %>
            <% else %>
              <%= image_tag 'default_avatar.png', class: "w-8 h-8 rounded-full #{current_user&.is_admin ? 'hover:opacity-30' : ''}", alt:'User avatar' %>
            <% end %>
          <% end %>
        </div>
        <div class="flex-1 min-w-0">
          <p class="text-sm font-medium text-white truncate">
            <%= user.name %>
          </p>
          <p class="text-xs truncate text-placeholder_gray">
            <% if controller_name == 'cadenas' %>
              <%= user.email %>
            <% else %>
              <%= user.email[0..4] %><span class="blur">###@####</span><%= user.email[-5..-1] %>
            <% end %>
          </p>
        </div>
        <% if user == cadena.admin.user && user == current_user %>
          <p class="px-2 py-1 text-xs text-gray-400 uppercase border border-gray-400 rounded-lg">Yo/Admin</p>
        <% elsif user == cadena.admin.user %>
          <p class="px-2 py-1 text-xs text-gray-400 uppercase border border-gray-400 rounded-lg">Admin</p>
        <% elsif user == current_user %>
          <p class="px-2 py-1 text-xs text-gray-400 uppercase border border-gray-400 rounded-lg">Yo</p>
        <% end %>
        <% if current_user&.admin_of?(cadena) && user != cadena.admin || current_user&.is_admin && user != cadena.admin %>
          <button id="dropdownUser<%= user.id %>" aria-label="dropdown" data-dropdown-toggle="dropdownDotsUser<%= user.id %>" type="button" class="inline-flex items-center text-base font-semibold rounded-full text-midnight bg-jaguar_light font-manrope hover:bg-black_coral focus:outline-none">
            <%= inline_svg_tag "svg/dot_dropdown.svg", class: "w-5" %>
          </button>
          <div id="dropdownDotsUser<%= user.id %>" class="z-10 hidden divide-y divide-gray-600 rounded-lg shadow bg-steel_light w-fit">
            <ul class="text-sm text-gray-200 " aria-labelledby="dropdownMenuIconHorizontalButton">
              <li>
                <%= button_to "Eliminar", remove_user_cadena_path(cadena, user, format: :html), method: :delete, class:'block rounded-lg px-4 py-2 mr-0 text-left w-full hover:bg-jaguar_light' %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
