<% if !current_user.paid_next_participant?(cadena, global_date) && @next_paid_participant.user != current_user %>
  <%= button_to cadena_payments_path(cadena, participant_id: @next_paid_participant.id, user: current_user), class: 'btn-primary text-white/75 mb-4 text-sm shadow-xl', form_class: 'w-full' do %>
    Pagar <span class="text-white"><%= number_to_currency_with_k(cadena.installment_value, precision: 0) %></span> a <%= @next_paid_participant.name %>
  <% end %>
<% elsif @next_paid_participant.user == current_user %>
  <button disabled class="flex items-center justify-center w-full mb-4 rounded-xl btn-disabled">Es tu turno, no pagas <%= inline_svg_tag('svg/check.svg', class:'w-5 ml-1.5 text-lavender') %></button>
<% else %>
  <button disabled class="flex items-center justify-center w-full mb-4 rounded-xl btn-disabled">Ya pagaste tu cuota para&nbsp;<span class="text-white"><%= @next_paid_participant.first_name %></span> <%= inline_svg_tag('svg/check.svg', class:'w-5 ml-1.5 text-lavender') %></button>
<% end %>
