<div id="<%= dom_id cadena %>" class="flex flex-col">
  <div class="p-6 mb-6 text-white border border-gray-700 rounded-xl">
    <div class="flex space-x-6">
      <h2 class="text-3xl font-bold leading-7 text-left text-white font-nimbus-ext"><%= cadena.name %></h2>
      <span class="px-3 py-1 text-xs font-light uppercase border rounded-full h-fit border-ciel text-ciel"><%= cadena.status %></span>
    </div>
    <div class="flex items-center justify-between my-5">
      <div class="font-manrope">
        <span class="text-2xl font-bold"><%= cadena.participations.count %></span>
        <p class="text-sm text-gray-500">participantes</p>
      </div>
      <div>
        <% if cadena.pending? %>
          <%= link_to "Invitar más", new_cadena_invitation_path(@cadena), class: "text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-800 font-medium rounded-lg text-sm px-4 py-2 text-center"  %>
        <% elsif cadena.complete? %>
          <%= link_to "Aprobar lista", request_approval_cadena_path(@cadena), class: "text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-800 font-medium rounded-lg text-sm px-4 py-2 text-center"  %>
        <% elsif cadena.approval_requested? %>
          <%= link_to "Generar orden", cadena_assign_positions_path(@cadena), class: "text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-800 font-medium rounded-lg text-sm px-4 py-2 text-center"  %>
        <% end %>
      </div>
    </div>
    <div class="my-5 font-manrope">
      <span class="text-2xl font-bold"><%= number_to_currency(cadena.installments * cadena.installment_value, precision: 0  ) %></span>
      <p class="text-sm text-gray-500">objetivo de ahorro</p>
    </div>
    <div class="flex justify-between my-5 font-manrope">
      <div>
        <span class="text-2xl font-bold"><%= number_to_currency(cadena.installment_value, precision: 0) %></span>
        <p class="text-sm text-gray-500"><%= cadena.periodicity == "monthly" ? "por mes" : "por quincena" %></p>
      </div>
      <div>
        <span class="text-2xl font-bold">0/<%= cadena.installments %></span>
        <p class="text-sm text-right text-gray-500">cuotas</p>
      </div>
    </div>
    <div class="flex justify-between font-manrope">
      <div>
        <span class="text-2xl font-bold"><%= cadena.start_date.strftime('%d/%m/%y') %></span>
        <p class="text-sm text-gray-500">fecha inicio</p>
      </div>
      <div>
        <span class="text-2xl font-bold"><%= cadena.end_date.strftime('%d/%m/%y') %></span>
        <p class="text-sm text-right text-gray-500">fecha fin</p>
      </div>
    </div>
    <% if action_name != "show" %>
      <%= link_to "Show this cadena", cadena, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this cadena', edit_cadena_path(cadena), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
  <% if cadena.complete? %>
    <%= button_to 'Cadena full! Start cadena', '/', method: :patch, class:'p-4 mb-2 text-sm font-medium text-white bg-purple-700 focus:outline-none hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 rounded-xl dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 w-full' %>
  <% elsif cadena.status == 'Complete'  %>
    <%= button_to 'Cadena approved! Generate order', assign_positions_cadena_path(@cadena), method: :patch, class:'p-4 mb-2 text-sm font-medium text-white bg-primary_blue focus:outline-none hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-xl dark:hover:bg-blue-700 dark:focus:ring-blue-900 w-full' %>
  <% end %>
  <div class="p-6 rounded-xl bg-night_dark">
    <div class="flow-root">
      <% if cadena.pending? || cadena.complete? || cadena.approval_requested? %>
        <%= render 'cadena_users', cadena: @cadena %>
      <% elsif cadena.started? %>
        <%= render 'cadena_participants', cadena: @cadena %>
      <% end %>
    </div>
  </div>
</div>
