<div id="<%= dom_id cadena %>" class="flex flex-col w-full max-w-md mx-auto">
  <%= render 'cadenas/cadena_dashboard', cadena: cadena %>
  <% if cadena.started? && current_user.member_of?(cadena) %>
    <%= render 'users/balance', user: current_user %>
  <% end %>
  <div>
    <div class="flow-root">
      <% if !current_user || cadena.pending? || cadena.complete? || cadena.participants_approval? %>
        <%= render 'cadenas/cadena_participants_before_start', cadena: cadena %>
      <% elsif cadena.started? %>
        <%= render 'cadenas/cadena_participants', cadena: cadena %>
      <% elsif cadena.finished? %>
        <%= render 'cadenas/cadena_finished', cadena: cadena %>
      <% end %>
    </div>
  </div>
</div>
