<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cadenapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Cadenapp — Ahorros colaborativos, rápidos y seguros.">
    <meta name="description" content="Lanza tu cadena con amigos y familiares. Administra tus ahorros facilmente sin pasar por un banco.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cadenapp.com/">
    <meta property="og:title" content="Cadenapp — Ahorros colaborativos, rápidos y seguros.">
    <meta property="og:description" content="Lanza tu cadena entre amigos y familiares. Administra tus ahorros facilmente sin pasar por un banco.">
    <meta property="og:image" content="<%= image_url('metaimage.png') %>">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://cadenapp.com/">
    <meta property="twitter:title" content="Cadenapp — Ahorros colaborativos, rápidos y seguros.">
    <meta property="twitter:description" content="Lanza tu cadena entre amigos y familiares. Administra tus ahorros facilmente sin pasar por un banco.">
    <meta property="twitter:image" content="<%= image_url('metaimage.png') %>">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/anh8txf.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer data-turbo-track="reload" ></script>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body class="flex flex-col justify-between min-h-screen bg-mirage">
    <%= render 'shared/flash' %>
    <%= render 'shared/navbar' %>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <% if controller_name == "pages" && action_name != "terms" %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
