<div class="flex justify-center">
  <div class="text-white w-80 font-manrope">
    <h2 class="mb-6 text-3xl font-bold">Inscripción <span class="text-primary_blue"><%= valid_token_present? ? 'invitado' : ''%></span></h2>
    <div class="mb-10">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="mb-4">
          <%= f.text_field :first_name, autofocus: true, class:'input w-full', placeholder:'Nombre' %>
        </div>
        <div class="mb-4">
          <%= f.text_field :last_name, autofocus: true, class:'input w-full', placeholder:'Apellido' %>
        </div>
        <div class="mb-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input w-full', placeholder:'E-mail' %>
        </div>
        <div class="mb-4">
          <% if @minimum_password_length %>
            <% min = "(min. de #{@minimum_password_length} carácteres)" %>
          <% end %>
          <input type="password" name="user[password]" id="user_password" autocomplete="new-password" class="w-full input" placeholder="Contraseña <%= min %>">
        </div>
        <div class="mb-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input w-full', placeholder: 'Confirmación contraseña' %>
        </div>
        <div class="actions">
          <%= f.submit "Inscribirse", class:'btn-primary' %>
        </div>
        <% if valid_token_present? %>
          <%= hidden_field_tag :invitation_token, params[:token] %>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-col items-center space-y-4 text-sm">
      <%= link_to "Conectarse", new_session_path(resource_name), class:'text-primary_blue hover:underline' %>
    </div>
  </div>
</div>
